

body{
    background-color: var(--tertiary-color);
    color: white;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}




header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-height: 118px;
    justify-content: space-between;
    padding: 10px 20px;
    
}

.logo-navbar {
    display: flex;
    align-items: center;
}

div.logo {
}

.logo img {
    height: 82px;
}

.navbar ul{
    display: flex;
    gap: 50px;
}

.navbar ul li {
    list-style: none;
    font-size: 30px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-family: Inter, sans-serif ;
}

.navbar ul li a:hover {
    color: red;
    text-decoration: none;
}

.searchbar {
    width: 373px;
    height: 58px;
}

.searchbar input {
    padding-left: 30px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: solid 1px rgb(255, 255, 255);
    background-color: black;
    color: white;
    font-size: 20px;
    background-image: url(../pictures/icons/magnifying-glass-solid.svg);
    background-size: 30px;
    background-position: 3% center;
    background-repeat: no-repeat;
}

.search-contact {
    display: flex;
    align-items: center;
    gap: 40px;
}

.bell-notification {
    

}

div.user-icon {
    display: flex;
    justify-content: end;

}

/* MAIN CONTENT */

main {
    display: flex;
    flex-direction: column;
}

.bloc-1 {
    background-image: url(../pictures/affiches/en_avant.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 100px;
}


.logo-text {   
    display: flex;
}

.logo-text p {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 20%;
    font-family: Inter;
    font-weight: 700;
}


.en_avant_text {
    max-width: 50%;
    font-family: Inter, sans-serif;
}