body{
    background-color: black;
    margin:0;
    padding:0;
}

h2{
    color:white;
}

.carrousel_2{
    display: flex;
    width:100%;
    height:350px;
}

.carrousel_film{
    height:350px;
    overflow-x:hidden;
    display:flex;
    width:95vw;
    margin:0;
    padding:0;
}

.card{
    margin-left: 1vw;
    margin-right: 1vw;
    height:346px;
    box-shadow: 0px 0px 3px white;

}

.card img{
    height:346px;
    width:26vw;
    margin:0;
    padding:0;
}

.button2{
align-content: center;
width:1vw;
margin:0.5vw;
}

.button2 p{
    color:white;
    font-size: 48px;
}

a{
    text-decoration: none;
}

@media screen and (max-width:1024px){

    .carrousel_2{
        width:100vw;
    }

    .carrousel_film{
        display:flex;
        overflow-x: hidden;
        margin: 0px;
        padding:0px;
        width:95vw;

    }

    .card{
        width: 40vw;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .card img{
        width:40vw;
        margin:0px;
    }
}

@media screen and (max-width:640px){
    .button2{
        display:none;
    }

    .carrousel_2{
        flex-direction: column;
        width:100vw;
        min-height: max-content;
    }

    .carrousel_film{
        display:flex;
        flex-direction: column;
        width:100vw;
        overflow-x: visible;
        margin: 0px;
        padding:0px;

    }

    .card{
        width:100vw;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .card img{
        width:100vw;
    }
}
